/* raleway-regular - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v22-latin_cyrillic-ext_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v22-latin_cyrillic-ext_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v22-latin_cyrillic-ext_cyrillic-regular.woff2") format("woff2"), url("../fonts/raleway-v22-latin_cyrillic-ext_cyrillic-regular.woff") format("woff"), url("../fonts/raleway-v22-latin_cyrillic-ext_cyrillic-regular.ttf") format("truetype"), url("../fonts/raleway-v22-latin_cyrillic-ext_cyrillic-regular.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* raleway-700 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v22-latin_cyrillic-ext_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v22-latin_cyrillic-ext_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v22-latin_cyrillic-ext_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v22-latin_cyrillic-ext_cyrillic-700.woff") format("woff"), url("../fonts/raleway-v22-latin_cyrillic-ext_cyrillic-700.ttf") format("truetype"), url("../fonts/raleway-v22-latin_cyrillic-ext_cyrillic-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* roboto-regular - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v29-latin_cyrillic-ext_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v29-latin_cyrillic-ext_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v29-latin_cyrillic-ext_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v29-latin_cyrillic-ext_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v29-latin_cyrillic-ext_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v29-latin_cyrillic-ext_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v29-latin_cyrillic-ext_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v29-latin_cyrillic-ext_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v29-latin_cyrillic-ext_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v29-latin_cyrillic-ext_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v29-latin_cyrillic-ext_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v29-latin_cyrillic-ext_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v29-latin_cyrillic-ext_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v29-latin_cyrillic-ext_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v29-latin_cyrillic-ext_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v29-latin_cyrillic-ext_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v29-latin_cyrillic-ext_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v29-latin_cyrillic-ext_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v29-latin_cyrillic-ext_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v29-latin_cyrillic-ext_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v29-latin_cyrillic-ext_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v29-latin_cyrillic-ext_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v29-latin_cyrillic-ext_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v29-latin_cyrillic-ext_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

:root {
  --primary-header-color: #212121;
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --main-bkg-color: #ffffff;
  --alt-bkg-color: #f5f4fa;
  --hero-bkg-color: #2f303a;
  --accent-color: #2196f3;
  --btn-accent-color: #188ce8;
  --logo-black: #000000;
  --logo-white: #ffffff;
  --header-border: #ececec;
  --card-border: #eeeeee;
  --svg-color: #afb1b8;
  --flex-margin: 30px;
  --page-width: 1200px;
  --desktop-width: 1200px;
  --tablet-width: 768px;
  --mobile-width: 480px;
  --tiny-width: 320px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  font-style: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  background-color: #ffffff;
}

.logo {
  display: inline-block;
  color: var(--logo-black);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
}

.logo--accent {
  color: var(--accent-color);
}

.logo--white {
  color: var(--logo-white);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--main-bkg-color);
  fill: currentColor;
  background-color: var(--accent-color);
  border-radius: 4px;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  background-color: var(--btn-accent-color);
}

.btn svg {
  margin-left: 10px;
}

.subscribe {
  display: flex;
}

.subscribe__label {
  margin-right: 12px;
}

.subscribe__input {
  display: inline-block;
  width: 358px;
  height: 50px;
  padding: 16px 15px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe__input::placeholder {
  font-size: 16px;
  line-height: calc(20 / 16);
  color: rgba(255, 255, 255, 0.6);
}

.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  fill: black;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover, .close-btn:focus {
  fill: var(--accent-color);
}

.checkbox__label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--primary-text-color);
}

.checkbox__link {
  color: var(--accent-color);
  text-decoration: underline;
}

.checkbox__icon {
  display: block;
  margin-right: 9px;
  border: 2px solid var(--primary-header-color);
  border-radius: 2px;
  fill: var(--main-bkg-color);
  transition-property: border-color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox__icon {
  border: 0px solid var(--accent-color);
  background-color: var(--accent-color);
}

.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 528px;
  height: 581px;
  padding: 40px;
  position: relative;
  transform: rotateX(0);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  background: var(--main-bkg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden .modal {
  transform: rotateX(90deg);
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  color: var(--primary-header-color);
}

.modal__list {
  margin-bottom: 20px;
}

.modal__item:not(:last-child) {
  margin-bottom: 10px;
}

.modal__label {
  display: block;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal__wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__wrapper:hover, .modal__wrapper:focus-within {
  fill: var(--accent-color);
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal__text {
  display: block;
  padding: 12px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__wrapper:hover > .modal__text,
.modal__wrapper:focus-within > .modal__text {
  border-color: var(--accent-color);
  outline-color: var(--accent-color);
}

.modal__comment {
  display: block;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal__comment::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition-property: border-color, outline-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__wrapper:hover > .modal__comment,
.modal__wrapper:focus-within > .modal__comment {
  border-color: var(--accent-color);
  outline-color: var(--accent-color);
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__header {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--primary-header-color);
}

.header {
  border-bottom: 1px solid var(--header-border);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header__container {
    min-height: 60px;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.footer {
  min-width: var(--page-width);
  background-color: var(--hero-bkg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__contacts {
  flex-grow: 1;
  margin-right: 70px;
}

.footer__social {
  margin-right: 93px;
}

.footer__hdr {
  margin-bottom: 20px;
  display: block;
  color: var(--secondary-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
}

.footer__address {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--secondary-text-color);
}

.footer__address:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link {
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover, .footer__link:focus {
  color: var(--accent-color);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--primary-header-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__link--current {
  color: var(--accent-color);
  position: relative;
}

.nav__link--current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contact {
  display: none;
}

@media screen and (min-width: 768px) {
  .contact {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contact__icon {
  margin-right: 10px;
}

.contact__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  fill: currentColor;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  padding: 6px 22px;
  border-radius: 4px;
  border-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  color: var(--primary-header-color);
  background-color: var(--alt-bkg-color);
  cursor: pointer;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hero {
  padding: 118px 0;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  background-color: var(--hero-bkg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("./../images/herobkg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    height: 600px;
    max-width: 1600px;
  }
}

.hero__hdr {
  width: 360px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 1200px) {
  .hero__hdr {
    width: 696px;
    font-size: 44px;
    line-height: calc(60 / 44);
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;
  margin: calc(0px - var(--flex-margin) / 2);
}

.skills__item {
  margin: calc(var(--flex-margin) / 2);
}

@media screen and (min-width: 768px) {
  .skills__item {
    flex-basis: calc((100% - 2 * var(--flex-margin)) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .skills__item {
    flex-basis: calc((100% - 4 * var(--flex-margin)) / 4);
  }
}

.skills__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: var(--alt-bkg-color);
  border-radius: 4px;
}

.skills__hdr {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--primary-header-color);
}

@media screen and (max-width: 767px) {
  .skills__hdr {
    text-align: center;
  }
}

.skills__text {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--primary-text-color);
}

.mission__section {
  padding-top: 0px;
}

.mission {
  display: flex;
}

.mission__item {
  flex-basis: calc((100% - 2 * var(--flex-margin)) / 3);
}

.mission__item:not(:last-child) {
  margin-right: var(--flex-margin);
}

.mission__img {
  flex-basis: calc(100% / 3 - var(--flex-margin));
}

.mission__text {
  height: 70px;
  width: 100%;
  padding: 27px 0;
  position: absolute;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.team {
  display: flex;
  flex-wrap: wrap;
  margin: calc(0px - var(--flex-margin) / 2);
}

.team__section {
  background-color: var(--alt-bkg-color);
}

.team__item {
  margin: calc(var(--flex-margin) / 2);
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 2 * var(--flex-margin)) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 4 * var(--flex-margin)) / 4);
  }
}

.team__info {
  padding: 30px 0;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--main-bkg-color);
}

.team__hdr {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--primary-header-color);
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--primary-text-color);
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__item + .social__item {
  margin-left: 10px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  fill: var(--svg-color);
  background-color: var(--main-bkg-color);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  fill: var(--main-bkg-color);
}

.social__link--dark {
  fill: var(--main-bkg-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.clients {
  display: flex;
  flex-wrap: wrap;
  margin: calc(0px - var(--flex-margin) / 2);
}

.clients__item {
  margin: calc(var(--flex-margin) / 2);
  flex-basis: calc((100% - 2 * var(--flex-margin)) / 2);
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 3 * var(--flex-margin)) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 6 * var(--flex-margin)) / 6);
  }
}

.clients__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid var(--svg-color);
  border-radius: 4px;
  fill: var(--svg-color);
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon:hover, .clients__icon:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.examples {
  display: flex;
  flex-wrap: wrap;
  margin: calc(0px - var(--flex-margin) / 2);
}

.examples__item {
  margin: calc(var(--flex-margin) / 2);
}

@media screen and (min-width: 768px) {
  .examples__item {
    flex-basis: calc((100% - 2 * var(--flex-margin)) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .examples__item {
    flex-basis: calc((100% - 3 * var(--flex-margin)) / 3);
  }
}

.examples__link {
  display: flex;
  flex-direction: column;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.examples__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.thumb {
  flex-grow: 0;
  position: relative;
  overflow: hidden;
}

.examples__info {
  flex-grow: 1;
  padding: 20px 24px;
  border-bottom: 1px solid var(--card-border);
  border-right: 1px solid var(--card-border);
  border-left: 1px solid var(--card-border);
}

.examples__header {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--primary-header-color);
}

.examples__text {
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--primary-text-color);
}

.examples__img {
  flex-basis: calc(100% / 3 - var(--flex-margin));
}

.examples__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 63px 24px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--secondary-text-color);
}

.examples__link:hover .examples__overlay,
.examples__link:focus .examples__overlay {
  transform: translateY(-100%);
}
/*# sourceMappingURL=main.css.map */