.footer {
  // min-width: var(--page-width);
  background-color: var(--hero-bkg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  text-align: center;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.footer__contacts {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    // flex-basis: 50%;
  }
  @media screen and (min-width: 1200px) {
    // flex-basis: 25%;
    flex-grow: 1;
    margin-right: 70px;
  }
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__social {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    // flex-basis: 50%;
  }
  @media screen and (min-width: 1200px) {
    // flex-basis: 25%;
    margin-right: 93px;
  }
}

.footer-subscribe {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 60px;
  }
}
.footer__hdr {
  margin-bottom: 20px;
  display: block;
  color: var(--secondary-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
}

.footer__address {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--secondary-text-color);
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer__link {
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
