.footer {
  min-width: var(--page-width);
  background-color: var(--hero-bkg-color);
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    display: flex;
    align-items: baseline;
  }

  &__logo {
    margin-bottom: 20px;
  }

  &__contacts {
    flex-grow: 1;
    margin-right: 70px;
  }

  &__social {
    margin-right: 93px;
  }

  &__hdr {
    margin-bottom: 20px;
    display: block;
    color: var(--secondary-text-color);
    font-weight: bold;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;
  }

  &__address {
    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--secondary-text-color);
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }

  &__link {
    color: rgba(255, 255, 255, 0.6);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
