.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section__header {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--primary-header-color);
}
