// .skills {
//   display: flex;
//   flex-wrap: wrap;
//   margin: calc(0px - var(--flex-margin) / 2);
// }

// .skills__item {
//   margin: calc(var(--flex-margin) / 2);

//   @media screen and (min-width: 768px) {
//     flex-basis: calc((100% - 2 * var(--flex-margin)) / 2);
//   }

//   @media screen and (min-width: 1200px) {
//     flex-basis: calc((100% - 4 * var(--flex-margin)) / 4);
//   }
// }

.skills {
  display: block;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: calc(0px - var(--flex-margin) / 2);
  }
}

.skills__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: var(--flex-margin);
    }
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * var(--flex-margin)) / 2);
    margin: calc(var(--flex-margin) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 4 * var(--flex-margin)) / 4);
    margin: calc(var(--flex-margin) / 2);
  }
}

.skills__icon {
  @include flex();
  // display: flex;
  // align-items: center;
  // justify-content: center;
  height: 120px;
  background-color: var(--alt-bkg-color);
  border-radius: 4px;
}

.skills__hdr {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--primary-header-color);

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.skills__text {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--primary-text-color);
}
