.checkbox {
  &__label {
    @include flex();
    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin-bottom: 30px;
    width: 100%;

    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--primary-text-color);
  }

  &__link {
    color: var(--accent-color);
    text-decoration: underline;
  }

  &__icon {
    display: block;
    margin-right: 9px;

    border: 2px solid var(--primary-header-color);
    border-radius: 2px;
    fill: var(--main-bkg-color);
    transition-property: border-color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .checkbox:checked + & {
      border: 0px solid var(--accent-color);
      background-color: var(--accent-color);
    }
  }
}
