.hero {
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  max-width: 1600px;
  min-width: var(--page-width);
  background-color: var(--hero-bkg-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('./../images/herobkg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero__hdr {
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
