:root {
  --primary-header-color: #212121;
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --main-bkg-color: #ffffff;
  --alt-bkg-color: #f5f4fa;
  --hero-bkg-color: #2f303a;
  --accent-color: #2196f3;
  --btn-accent-color: #188ce8;
  --logo-black: #000000;
  --logo-white: #ffffff;
  --header-border: #ececec;
  --card-border: #eeeeee;
  --svg-color: #afb1b8;
  --flex-margin: 30px;
  --page-width: 1200px;
  --desktop-width: 1200px;
  --tablet-width: 768px;
  --mobile-width: 480px;
  --tiny-width: 320px;
}
